@model Estacionamento.Models.Registro

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Registro</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Entrada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Entrada)
                @Html.ValidationMessageFor(model => model.Entrada)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Saida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Saida)
                @Html.ValidationMessageFor(model => model.Saida)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorDevido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorDevido)
                @Html.ValidationMessageFor(model => model.ValorDevido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorPago)
                @Html.ValidationMessageFor(model => model.ValorPago)
            </div>
        </div>

       
        <div class="form-group">
            @Html.LabelFor(model => model.VeiculoId, "VeiculoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VeiculoId", String.Empty)
                @Html.ValidationMessageFor(model => model.VeiculoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rotativo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rotativo)
                @Html.ValidationMessageFor(model => model.Rotativo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
