@model IEnumerable<Estacionamento.Models.Registro>

@{
    ViewBag.Title = "Patio";
}

<div >
    @{
    if (TempData["erro"] != null)
    {
        <div class="alert-danger">
            <p>@TempData["erro"]</p>
        </div>
    }
}
</div>

<a type="button"
   class="btn"
   href="#article-editor"
   data-toggle="modal">Click me</a>

<div class="modal fade" id="article-editor">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Title of the form</h3>
    </div>
    <div class="modal-body">
        <p>Body of the form</p>
    </div>
    <div class="modal-footer">
        <a href="#" class=" btn btn-danger" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-success">Save Changes</a>
    </div>
</div>

@Html.Partial("~/Views/Registro/_Entrada.cshtml")
@Html.Partial("~/Views/Registro/_Saida.cshtml")

@*<div>
    @using (Html.BeginForm())
    {
        
        @Html.Label("data")
        @Html.Editor("data");

        <input type="submit" value="Filtrar" />

    }

</div>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rotativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saida)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Rotativo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
